@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, #f2ce1bf5, #d9aa1eaf);
    padding-top: 50px;
    
}

header h1{
   font-size: 10vw;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;

}

header > p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

main > p {
    padding-top: 30px;
    height: 600px;
    width: 600px;
    font-size: 3em;
}

section > p{
    background-color: black;
    color: white;
    height: 600px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 50px;
    
    font-size: 3.5vw;
    
}

section.imagem {
    background-color: rgb(51, 51, 51);
    
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.267);
    text-shadow: 1px 1px 0px black;
    

}

.normal{
    background-color: white;
    color: black;
}

section#img01 {
    background-image: url('imagens/amigas.jpg');
    background-position: center top;
    
}

section#img02{
    background-image: url('imagens/Divas\ do\ sol.png');
}